.about-section {
  background-color: transparent;
  position: relative;
  padding: 100px 0;

  @media screen and (max-width: $bp-desktop) {
    &__text::after {
      content: "";
      background-image: url(../images/first-star.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      position: absolute;
      bottom: -50px;
      right: 30px;
    }
  }

  @media screen and (max-width: $bp-desktop) {
    padding: 20px 0;
  }

  &__text {
    max-width: 710px;
    line-height: 1.7;

    margin-top: 50px;

    @media screen and (max-width: $bp-desktop) {
      position: relative;
    }
  }

  &__before img,
  &__after img {
    border-radius: 50%;
    position: relative;
  }

  &__before::after {
    content: "";
    background-image: url(../images/first-star.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 280px;
    right: 320px;
  }

  &__before::before {
    content: "";
    background-image: url(../images/third-star.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: -20px;
  }

  &__after::after {
    content: "";
    background-image: url(../images/second-star.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 400px;
    right: 40px;
  }

  &__container {
    display: flex;
    gap: 32px;
  }

  &__results {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__before {
    align-self: flex-start;
  }

  &__after {
    align-self: flex-end;
  }
}
