.advantages-section {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;

  &__title {
    text-align: center;
    max-width: 430px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    gap: 56px;
    justify-content: center;
    padding: 0;
  }

  &__bg {
    position: absolute;
    width: 100%;
    top: -100px;
    z-index: -1;
    max-height: 2000px;
  }
}
