.hero-section {
  background-image: url(../images/hero-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: var(--second-color);
    font-size: 140px;
    margin-bottom: 40px;
    line-height: 0.8;
  }

  &__text {
    font-size: 12px;
    margin: 0;
    margin-top: 14px;
    margin-left: 20px;
  }
}
