/* Fonts */

/* Play */

/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-cyrillic_latin-regular.woff2") format("woff2");
}

/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-cyrillic_latin-700.woff2") format("woff2");
}

/* Roboto */

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v50-cyrillic_latin-regular.woff2") format("woff2");
}
/* roboto-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v50-cyrillic_latin-600.woff2") format("woff2");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v50-cyrillic_latin-700.woff2") format("woff2");
}

:root {
  --first-color: #fff;
  --second-color: #2b7fff;
  --third-color: #011c44;
  --fourth-color: #4f4f4f;
  --fifth-color: #747272;
  --sith-color: #011f4a;
  --seveth-colo: #ffd02b;
}

/* Base */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #011c44;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 32px 0 56px 0;
}

.section-title {
  font-size: 64px;
  font-family: "Play", sans-serif;
  margin-top: 0;

  line-height: 1.2;
}

.section-title.centered {
  text-align: center;
}

span {
  color: var(--second-color);
}

li {
  list-style: none;
}

/* Buttons */

.btn {
  background-color: var(--second-color);
  padding: 16px 32px;
  border: var(--second-color) solid 2px;
  border-radius: 32px;
  color: var(--first-color);

  transition: 0.3s;
}

.btn:hover {
  color: var(--third-color);
  background-color: transparent;
}

/* Links */

.link {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: var(--third-color);
}

.link:hover {
  color: #2b7fff;
}

/* Header */

header {
  background: #ffffff40;
}

.header-container {
  display: flex;
  gap: 240px;
}

.header-nav {
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.socials {
  display: flex;
  align-items: center;
  gap: 32px;
}

.socials-icon {
  transition: 0.3s;
  fill: var(--sith-color);
}

.socials-icon:hover {
  fill: var(--second-color);
}

/* Hero-section */

.hero-title {
  color: var(--second-color);
  font-size: 140px;
  margin-bottom: 40px;
}

.hero-section {
  background-image: url(./images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  font-size: 12px;
  margin: 0;
  margin-top: 14px;
  margin-left: 20px;
}

/* About-section */

.about-text {
  max-width: 710px;
  line-height: 1.7;

  margin-top: 50px;
}

.before,
.after {
  border-radius: 50%;
}

.about-container {
  display: flex;
  gap: 32px;
}

.results {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.results img:first-child {
  align-self: flex-start;
}

.results img:last-child {
  align-self: flex-end;
}

/* Advantages-section */

.advantages-section {
  padding-bottom: 100px;
  padding-top: 100px;
}

.advantages-bg {
  position: absolute;
  width: 100%;
  top: 1460px;
  z-index: -1;
}

.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages-card {
  background-color: var(--first-color);
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  max-width: 320px;
  height: 149px;
  text-align: center;
  border-radius: 32px;
  padding: 24px 32px;

  transition: transform 0.3s;
}

.advantages-card:hover {
  transform: translateY(-8px);
}

.advantages-card p {
  margin: 0;
  margin-top: 8px;
  max-width: 252px;
}

.card-icon {
  fill: var(--second-color);
}

/* Procedures section */

.procedures-card {
  width: 313px;
  height: 424px;
  border: 2px solid var(--second-color);
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 32px;
  color: var(--first-color);
}

.procedures-slider {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.slider-btn {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--sith-color);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--sith-color);

  transition: 0.3s;
}

.slider-btn:hover {
  background-color: var(--sith-color);
  fill: var(--first-color);
}

/* Footer */

footer {
  color: var(--first-color);
  background-image: url(./images/footer-background.png);
  background-color: var(--third-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-icon {
  fill: var(--first-color);
}

.footer-icon:hover {
  fill: var(--second-color);
}

.footer-link {
  color: var(--first-color);
}

.adress-link {
  color: var(--first-color);
  text-decoration: none;
}

.adress-link:hover {
  color: var(--second-color);
}
