body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 100px;

  @media screen and (max-width: $bp-desktop) {
    padding: 0 20px;
  }
}

.section-title {
  font-size: 64px;
  font-family: "Play", sans-serif;
  margin-top: 0;

  line-height: 1.2;

  @media screen and (max-width: $bp-desktop) {
    font-size: 32px;
  }
}

.section-title.centered {
  text-align: center;
}

span {
  color: var(--second-color);
}

li {
  list-style: none;
}

span.underline {
  color: var(--fifth-color);
  text-decoration: underline;
}
