.address {
  &__link {
    color: var(--first-color);
    text-decoration: none;
    transition: 0.3s;
  }

  &__link:hover {
    color: var(--second-color);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-style: normal;
  }
}
