.btn {
  background-color: var(--second-color);
  padding: 16px 32px;
  border: var(--second-color) solid 2px;
  border-radius: 32px;
  color: var(--first-color);
  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  color: var(--third-color);
  background-color: transparent;
}
