.header {
  background: #ffffff40;
  height: 106px;

  &__container {
    display: flex;
    gap: 240px;
  }

  &__nav {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
