.header {
  backdrop-filter: blur(5px);

  padding: 32px 0;

  position: absolute;
  z-index: 1;
  inset: 0;
  max-height: 80px;

  @media screen and (max-width: $bp-desktop) {
    backdrop-filter: none;
  }

  &__container {
    display: flex;
    gap: 210px;

    @media screen and (max-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    flex-grow: 1;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 32px;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__icon {
    transition: 0.3s;
    fill: var(--sixth-color);
  }

  &__icon:hover {
    fill: var(--second-color);
  }

  &__burger {
    display: none;

    background-color: transparent;
    border: none;
    fill: var(--first-color);

    @media screen and (max-width: $bp-desktop) {
      display: block;
    }
  }
}
