.modal {
  position: relative;
  background-image: url(./images/modal-bg.png);
  background-color: var(--third-color);
  border-radius: 48px;

  width: 100%;
  max-width: 725px;

  height: 100%;
  max-height: 681px;

  color: var(--first-color);
  padding: 20px;

  overflow-y: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: $bp-tablet) {
    border-radius: 0;
    inset: 0;

    max-width: 100%;
    max-height: 100%;

    padding: 0;
  }

  &__title {
    font-size: 64px;
    line-height: 1.1;
    margin: 0 auto;

    @media screen and (max-width: $bp-tablet) {
      font-size: 32px;
      text-align: center;
    }
  }

  &__text {
    font-size: 22px;
    text-align: center;
  }
}
